@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #FBFBFE;
  --background: #081C15;
  --paragraph: #495057;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #081C15;
    --background: #FBFBFE;
    --paragraph: #495057;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--paragraph);
}